# Binary file
webserv

# Intermediary files
*.d
*.o
*.swp
*.log 
__pycache__/

# Configuration files
*.toml
!configs/*.toml

# Images
www/assets/images/*
!www/assets/images/1337.jpeg

# Editor specific files
tags
.vscode/

# Correction Tester files
YoupiBanane/
