# Binary file
webserv

# Intermediary files
*.d
*.o
*.swp
*.log 
__pycache__/

# Configuration files
*.toml
!configs/*.toml

www/storage/

# Editor specific files
tags
.vscode/

# Correction Tester files
YoupiBanane/
